# the true price of a pretty laptop
.DS_Store

# coverage reports
coverage/

# Dependency directories
node_modules/

# self signed certs for dev go here
dev/

# quick tests
temp*

# maybe we'll want to add this later
archive/

# for running server with --interactive
.node_repl_history

# good luck, I'm behind 7 lock files
yarn.lock
