# the true price of a pretty laptop
.DS_Store

# coverage reports
coverage/

# Dependency directories
node_modules/

# secp256k1 to be copied
public/js/utils/noble-secp256k1.js

# self signed certs for dev go here
dev/

# for running server with --interactive
.node_repl_history

# good luck, I'm behind 7 lock files
yarn.lock
